<h1>Settings</h1>
<h2>Account Subscription</h2>
<div class="account-subscription">
  <div class="avatar-upload">
    <label for="upload-avatar">Browse avatar</label>
    <button id="upload-avatar" value="upload avatar">upload avatar</button>
  </div>
  <div class="company-nickname">
    <label for="nickname">Company Nickname</label>
    <input type="text" />
  </div>
  <div class="legal-name">
    <label for="nickname">Legal Entity Name</label>
    <input type="text" />
  </div>
  <div class="company-id">
    <label for="nickname">Company ID</label>
    <input type="text" />
  </div>
  <div class="client-name">
    <label for="nickname">Client Account Name</label>
    <input type="text" />
  </div>
  <div class="client-email">
    <label for="nickname">Client Account Email</label>
    <input type="text" />
  </div>
  <div class="client-phone">
    <label for="nickname">Client Account Phone</label>
    <input type="text" />
  </div>
  <div class="currency">
    <label for="currency">Billing Address</label>
    <select></select>
  </div>
  <div class="users allowed">
    <label for="nickname">Company users allowed</label>
    <div class="slider"></div>
  </div>
  <div class="billing-address">
    <label for="nickname">Tenant users allowed</label>
    <div class="slider"></div>
  </div>
  <hr />
  <h3>Contract Revisions</h3>
  <div class="ip-security-control">
    <label for="nickname">IP Security Control</label>
    <input type="checkbox" />
  </div>
  <div class="Contract Number">
    <label for="contract-number">Contract Number</label>
    <select></select>
  </div>
  <div class="contract-docs">
    <label for="contract-documents">Contract Documents</label>
    <button id="contract-documents" value="Contract Documents">
      Contract Documents
    </button>
  </div>
  <div class="license-start-date">
    <label for="contract-documents">License Start Date</label>
    <div class="calendar"></div>
  </div>
  <div class="next-expiration">
    <label for="next-expiration">Next Expiration</label>
    <div class="calendar"></div>
  </div>
  <hr />
  <h3>Log Details</h3>
  <div class="created-on">
    <label for="created_on">Created On</label>
    <div class="calendar"></div>
  </div>
  <div class="created-by">
    <label for="createdBy">Created by</label>
    <input type="text" />
  </div>
  <div class="last-update">
    <label for="created_on">Last Updated on:</label>
    <div class="calendar"></div>
  </div>
</div>

<h2>Tenant Creation</h2>
<div class="tenant-creation">
  <h3>General Info</h3>
  <div class="tenant-logo">
    <label for="TenantLogo">Browse avatar</label>
    <button id="TenantLogo" value="upload avatar">upload logo</button>
  </div>
  <div class="tenant-name">
    <label for="tenantname">Client Account Name</label>
    <input type="text" id="tenantname" />
  </div>
  <div class="model-number">
    <label for="modelNumber">Model Number</label>
    <input type="text" id="modelNumber" />
  </div>
  <div class="notes">
    <label for="modelNumber">notes</label>
    <textarea id="notes"></textarea>
  </div>

  <h3>Default Dataset</h3>
  <div class="business-unit">
    <label for="currency">Business Unit</label>
    <select>
      multiselect
    </select>
  </div>
  <div class="tenant-rule-name">
    <label for="tenantRuleName">Tenant Rule Name</label>
    <input type="text" id="tenantRuleName" />
  </div>
  <div class="Operating Unit">
    <label for="currency">Operating Unit</label>
    <select></select>
  </div>
  <div class="org-id">
    <label for="orgId">Organization ID</label>
    <input type="text" id="orgId" />
  </div>
  <div class="business-type">
    <label for="currency">Business Type</label>
    <select></select>
  </div>
  <div class="last-edited-by">
    <label for="createdBy">Last Edited by</label>
    <input type="text" />
  </div>
  <div class="last-edited">
    <label for="lastEdited">Last Edited on:</label>
    <div class="calendar"></div>
  </div>

  <h3>Customized Dataset</h3>
  <div class="include-exclude">
    <label for="includeExclude">Include/Exclude Something</label>
    <input id="includeExclude" class="checkbox" />
  </div>
  <div class="manufacturer-code">
    <label for="manufacturerCode">Manufacturer Code</label>
    <select id="manufacturerCode">
      multiselect
    </select>
  </div>
  <div class="sales-entering-branch">
    <label for="salesEnteringBranch">Sales Entering Branch</label>
    <select id="salesEnteringBranch">
      multiselect
    </select>
  </div>
  <div class="warehouse-code">
    <label for="warehouseCode">Warehouse Code</label>
    <select id="warehouseCode">
      multiselect
    </select>
  </div>
  <div class="billToSites">
    <label for="billToSites">Bill To Sites</label>
    <select id="billToSites">
      multiselect
    </select>
  </div>

  <h3>Log Details</h3>
  <div class="created-by">
    <label for="createdBy">Last Created by</label>
    <input type="text" />
  </div>
  <div class="created-on">
    <label for="createdOn">Last Created on:</label>
    <div class="calendar"></div>
  </div>
  <div class="last-updated-on">
    <label for="lastUpdatedOn">Last Updated on:</label>
    <div class="calendar"></div>
  </div>
</div>
<h2>User Creation</h2>
<div class="user-creation">
  <h3>General Info</h3>

  <div class="user-name">
    <label for="userName">User Name</label>
    <input type="text" />
  </div>
  <div class="user-email">
    <label for="userEmail">User Email</label>
    <input type="text" />
  </div>
  <div class="user-avatar">
    <label for="userAvatar">Profile Avatar</label>
    <button id="userAvatar" value="upload avatar">upload Avatar</button>
  </div>
  <div class="user-password">
    <label for="userPassword">User Password</label>
    <input type="password" />
  </div>
  <div class="user-notes">
    <label for="userNotes">Notes</label>
    <textarea></textarea>
  </div>

  <h3>Tenant Access</h3>
  <div class="tenant-choice">
    <label for="tenantChoice">Tenant Name</label>
    <select id="tenantChoice"></select>
  </div>
  <div class="tenant-rulename">
    <label for="tenantRulename">Tenant Rule Name</label>
    <select id="tenantRulename"></select>
  </div>
  <div class="tenant-relationhip-type">
    <label for="tenantRelationshipType">Relationship Type</label>
    <select id="tenantRelationshipType"></select>
  </div>
  <div class="tenant-relationhip">
    <label for="tenantRelationship">Tenant Relationship</label>
    <select id="tenantRelationship"></select>
  </div>
  <h3>Data Access Rules</h3>
  <div class="include-exclude-somethingelse">
    <label for="includeExcludeSomethingelse">Include/Exclude Something</label>
    <input id="includeExcludeSomethingelse" class="checkbox" />
  </div>
  <h3>Log Details</h3>
</div>
